<!-- Title Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Block for displaying errors-->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Block for displaying flash messages-->
 <%- messages() %>

 <!-- Main content display -->
  <div id="account-management">
    <% if (account_name) { %>
    <h2>Welcome <%= account_name %></h2>
    <% } %>
    
    <p>You're logged in</p>
    <a href="./edit-account">Edit Account Information</a>
    <a href="./delete-account">Delete Account</a>
    
    <% if (account_type === "Admin" || account_type === "Employee") { %>
      <h3>Inventory Management</h3>
      <a href="/inv/">Edit Inventory Information</a>
    <% } %>
  </div>